{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block body %}

    <style> 

.box2 {
  width: 250px;
  margin: 20px auto;
  border: 2px solid #8B0000;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  color: #FFFAF0;
  background:#8B0000;
  font-family: arial;
  position: relative;
}


/* speech bubble 9 */

.sb9:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #8B0000;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -23px;
} 



</style>

    <!-- Page Content -->
        <div class="container bg-dark">
            <div class="row"> 
                <div class="col-lg-8">
                    <div class="row mb-3">
                        <a href="#"><img src="./static/img/TheIEMShop.png" alt="" class="mw-100  page-holder img-fluid "></a>
                    </div>
                    <!-- /.row --><!--Row 1.1 -->

                    <div class="row ml-2">
                        <a href="/shop" class="btn btn-light; border border-white; ml-1" style="background: #533918">Items</a> 
                        <a href="/avatarshop" class="btn btn-light; border border-white; ml-1" style="background: #533918">Avatar</a> 
                        <!-- <button style="background: #533918" type="button" class="btn btn-light; border border-white; ml-1">Items</button> -->
                        <!-- <form action="/avatarshop" method="post">
                        <button style="background: #a46f2f;" name="avatarshop" class="btn btn-secondary" type="submit">Avatar</button>
                        </form> -->

                    </div>
                    <!-- /.row --><!--Row 1.2 -->

                    <div class="row ml-4 mb-5"> 
                      <div class="row border border-white overflow-auto" style="background: #b77a44">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                          <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                          </ul>

                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="./static/img/avatar1.png"alt="" width="650" height="400">
                              <div class="carousel-caption">
                                <h3>MIKE</h3>
                                <p>$10</p>
                                <a href="#" class=" btn btn-danger btn-lg active " role="button">Cancel</a>
                                <a href="#" class="ml-5 btn btn-warning btn-lg active" role="button">Buy</a>
                              </div>   
                            </div>

                            <div class="carousel-item">
                              <img src="./static/img/avatar2.png"alt="" width="650" height="400">
                              <div class="carousel-caption">
                                <h3>EVE</h3>
                                <p>$10</p>
                                <a href="#" class=" btn btn-danger btn-lg active " role="button">Cancel</a>
                                <a href="#" class="ml-5 btn btn-warning btn-lg active" role="button">Buy</a>
                              </div>   
                            </div>

                            <div class="carousel-item">
                              <img src="./static/img/avatar3.png"alt="" width="650" height="400">
                              <div class="carousel-caption">
                                <h3>BAO</h3>
                                <p>$10</p>
                                <a href="#" class=" btn btn-danger btn-lg active " role="button">Cancel</a>
                                <a href="#" class="ml-5 btn btn-warning btn-lg active" role="button">Buy</a>
                              </div>   
                            </div>

                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                           <!-- /.carousel-inner --> 
                        </div>
                        <!-- /.carousel slide --> 
                      </div>
                      <!-- /.row border -->
                  </div>
                  <!-- /.row ml-4 mb-5 -->
                </div>
                <!-- Column 1 --><!-- /.col-lg-8 -->      
                    <div class="col-lg-3 align-self-center">
                        <div class= "row ml-3 mb-3">
                            <div class="container-fluid p-2 my-2 bg-secondary text-white border border-white rounded" >     
                                <img  src="./static/img/coins.png" class="float-left" >
                                <div class="pt-3">
                                    <h5>12 345</h3>
                                </div>
                            </div>
                        </div>
                        <div class= "row ml-3 mt-5 mb-4">
                            <div class="box2 sb9">
                                <p>Hello How can i help you?</p>
                            </div>
                        </div>
                    <div class= "row ml-3 justify-content-center">
                        <img  src="./static/img/shopkeeper1.png" class="float-right" >
                    </div>
                </div>
                    <!-- Column 2 --><!-- /.col-lg-4 --> 
            </div>
            <!-- /.row --><!-- Row 0 -->
        </div>
        <!-- /.container -->
{% endblock %}









